﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("UserOrder", "UserOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="control-label col-md-2">Add Excel File To Import in Database</div>
                <div class="col-md-10">
                    <input type="file" name="FileUpload" />
                    <input type="submit" value="Import" />
                </div>
            </div>
        </div>
    }
</body>
</html>
